{# HTML5 declaration #}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home {% endblock title %} </title>

        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">
        {% endblock head_favicon %}

        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        



    </head>

    <body>
        
        
        {# The Document Body #}
        <div id="site-wrapper">
            <div class="container">
            <a class="navbar-brand" href="/admin">admin</a>
            <br>
            <a class="navbar-brand" href="/">home</a>
            <br>
            <a class="navbar-brand" href="/cleanhospinv">cleanhospinv</a>
            <a class="navbar-brand" href="/fillhospinv">fillhospinv</a>
            
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
            </div>
        </div>
        {# The Footer #}
        <div class="footer">
            <div class="container">
                <p>Hospital_net</p>
            </div>
        </div>
    </body>

</html>